language: cpp

env:
  global:
    - secure: "UtKJmCEbXXn+X2ofsmeDnq98ADFnX32/9r4vHmRJLHN7XH6OE9fXrj+ixhBxIl869iY9muyqLvH7l+6WxNbdNOT0J0CiZsD6PwjULWhIXg7XD/891FzmshxW4TrI4mPHkxbKPMjZEVh4ZVOoYtbFX66vm+x8eoZL5JjOeLFC9Gw="
  matrix:
    - tbs_arch=x86
    - tbs_arch=x64

os:
  - linux
  - osx

before_install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ];
    then
      sudo apt-get update -qq;
      sudo apt-get -y install nasm;
      if [ "$tbs_arch" = "x86" ];
      then
        sudo apt-get -y install gcc-multilib;
        sudo apt-get -y install g++-multilib;
      fi
    fi
  
  - if [ "$TRAVIS_OS_NAME" = "osx" ];
    then
      brew install nasm;
    fi

script:
  - ./thumbs.sh make
  - ./thumbs.sh check

addons:
  coverity_scan:
    project:
      name: "imazen/gd-libgd"
      description: "<Your project description here>"
    notification_email: nathanael.jones@gmail.com
    build_command_prepend: ""
    build_command:   "./thumbs.sh make"
    branch_pattern: master
